{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block go_back %}
    <a href="{% url 'article_list' %}" style="color: white; text-decoration: none"><button class="badge badge-pill badge-dark" type="reset" style="outline: none; margin-left: 20px; font-size: 16px;">Go to back...</button></a>
{% endblock go_back %}

{% block content %}
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title" style="font-family: 'Acme', sans-serif; font-size: 36px">{{ article.title }}</h1>
        </div>
        <div class="modal-body" style="font-family: 'Hepta Slab', serif; font-size: 16px">
            <p>{{ article.body }}</p>
            <p align="right" style="font-style: italic">By {{ article.author }} | {{ article.data}}</p>
        </div>
            {% if user.is_superuser or user == article.author %}
                <div class="modal-footer">
                    <a href="{% url 'article_edit' article.pk %}" style="text-decoration: none; font-size: 18px; color: aliceblue"><button type="button" class="btn btn-primary" data-dismiss="modal" >Edit</button></a>
                    <a href="{% url 'article_delete' article.pk %}" style="text-decoration: none; font-size: 18px; color: aliceblue"><button type="button" class="btn btn-danger">Delete</button></a>
                </div>
            {% endif %}
    </div>
        <br />
        <div class="list-group">
            <a href="{% url 'comment_new' article.pk %}" style="text-decoration: none; font-size: 18px; color: white"><li class="list-group-item active">To comment...</li></a>
            {% for comment in article.comments.all %}
                <li class="list-group-item">
                    <span style="font-family: 'Permanent Marker', cursive; font-size: 18px">{{ comment.author }}</span>
                    <span style="font-family: 'Hepta Slab', serif; font-size: 15px"> commented:</span>
                    <dev>
                        <p align="middle" style="font-family: 'Gloria Hallelujah', cursive;">{{ comment }}</p>
                    </dev>
                </li>
            {% endfor %}
        </div>
{% endblock content %}